.app_title{
	width: 100px;
	height: 50px;
	padding-left: 25px;
	margin: 0;
	align-items: center;
	display: flex;

	/*justify-content: center;*/ /*左右中央揃え*/
	
}

/*タイトルの文字*/
.app_title a p {
	margin: 0;
	font-size: 18px;

}