.transition_group{

	width: 80%;
	height: 50px;
	padding-left: 25px;
	display: flex;
	/*justify-content: center;*/ /*左右中央揃え*/
	align-items: center;     /*上下中央揃え*/
}

.transition_group a:not(:first-child){
	margin-left: 30px;
}